.btn {
  display: inline-block;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.025em;
  text-decoration: none;
  color: #fff;
  border-radius: 3.125rem;
  padding: 20px 40px 16px 40px;
  transition: all 0.3s ease;

  &--ios {
    background-color: $strongCyan;
    border-bottom: 4px solid darken($strongCyan, 10%);
    box-shadow: 0px 5px 10px 0px rgba(38, 186, 164, 0.3);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(38, 186, 164, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(38, 186, 164, 0.3);

    &:hover {
      background-color: lighten($strongCyan, 2.5%);
      box-shadow: 0px 5px 10px 0px rgba(38, 186, 164, 0.6);
      -webkit-box-shadow: 0px 5px 10px 0px rgba(38, 186, 164, 0.6);
      -moz-box-shadow: 0px 5px 10px 0px rgba(38, 186, 164, 0.6);
    }
  }

  &--mac {
    background-color: $lightBlue;
    border-bottom: 4px solid darken($lightBlue, 10%);
    box-shadow: 0px 5px 10px 0px rgba(97, 115, 255, 0.3);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(97, 115, 255, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(97, 115, 255, 0.3);

    &:hover {
      background-color: lighten($lightBlue, 2.5%);
      box-shadow: 0px 5px 10px 0px rgba(97, 115, 255, 0.6);
      -webkit-box-shadow: 0px 5px 10px 0px rgba(97, 115, 255, 0.6);
      -moz-box-shadow: 0px 5px 10px 0px rgba(97, 115, 255, 0.6);
    }
  }

  @include media(">=phone", "<tablet") {
    display: block;
    width: 100%;
    text-align: center;
  }
}
