.partners {
  .container {
    padding: 75px 0px;
  }
  &__group {
    @include flex(row, space-between);

    @include media(">=phone", "<tablet") {
      @include flex(column, flex-start, center, wrap);
    }

    .partner {
      margin: 40px 0px;

      @include media(">=phone", "<tablet") {
        
        &:first-child {
          margin-top: 0px;
        }

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}
